.venv/
venv/
env/
__pycache__/
*.py[cod]

.streamlit/secrets.toml
.env

outputs/
testing/
*.mp4
*.avi

*.zip
*.doc
*.pptx

runs/**
!runs/
!runs/segment/
!runs/segment/bean_seg_v1/
!runs/segment/bean_seg_v1/weights/
!runs/segment/bean_seg_v1/weights/best.pt

group_members/**/runs/
group_members/**/original/runs/
group_members/**/last.pt

dataset/
*.cache
